/*links*/   
  .header nav ul li a:hover {
    color:#fce1e1;
    background-color: #511877;
  }
   /*submit cards productos*/
   .submit-cards:hover{
    color: #fce1e1;
    background-color: #511877;
   }
/*submit cards nuevo*/
   .submit-cards2:hover{
    color: #fce1e1;
    background-color: #511877;
   }

   