* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #ab5fde;
    font-size: 20px;

  }

  body {
    background-color: #fce1e1;
  }

  /*links generales*/
  a {
    text-decoration: none;
  }